* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */
#header-title {
    text-align: center;
    margin-top: 20px;
    font-size: 48px;
}

/* grid */
#grid-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 480px;
    height: 480px;
    margin: 20px auto 20px auto;
}

.grid-item {
    width: 30px;
    height: 30px;
}

/* footer */
#footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    text-align: center;
    margin-bottom: 10px;
}