/* color palette
    #111f4d - dark blue
    #e43a19 - orange
    #7f0b3d - maroon
    #ffa400 - goldish/yellow
    #009ffd - blue
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Angkor", serif;
}

body {
    background-color: #ffa400;
    border: 20px double #e43a19;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */
h1 {
    text-align: center;
    padding: 10px;
    font-size: 40px;
    color: #111f4d;
    text-shadow: 3px 0px #e43a19;
}

/* main */
main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 10px;
}

/* customization */
#customization {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #7f0b3d;
    border-radius: 30px;
    box-shadow: 10px 8px 5px #460622;
    width: 300px;
    padding: 20px;
    font-size: 14px;
}

/* color container */
#color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#colorpicker:hover {
    opacity: 0.75;
}

input[type="color"] {
    border: none;
    border-radius: 50%;
	width: 40px;
	height: 40px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 50%;
}

/* grid range container */
#grid-range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-range {
    width: 120px;
}

/* buttons */
button {
    width: 120px;
    height: 50px;
    font-size: 14px;
    background-color: #111f4d;
    color: #e43a19;
    border: none;
    border-radius: 10px;
}

button:hover {
    font-size: 16px;
}

.clicked {
    background-color: #e43a19;
    color: #111f4d;
}

/* grid container */
#grid-container {
    width: 500px;
    height: 500px;
    border: 10px solid #111f4d;
    border-radius: 10px;
    display: grid;
    background-color: #eed9c4;
}

.grid-border {
    border-bottom: 1px solid #5a5a5a;
    border-right: 1px solid #5a5a5a;
}

/* footer */
footer {
    text-align: center;
    padding-top: 10px;
    margin-top: auto;
    font-size: 18px;
}

/*media queries */
@media (max-width: 900px){
    #grid-container {
        width: 400px;
        height: 400px;
    }

    #customization {
        font-size: 12px;
    }

    #grid-range {
        width: 100px;
    }

    button {
        width: 100px;
        height: 40px;
        font-size: 12px;
    }

    button:hover {
        font-size: 14px;
    }

    footer {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    body {
        border: 10px double #e43a19;
    }

    h1 {
        font-size: 32px;
    }

    #customization {
        width: 250px;
    }

    #grid-container {
        width: 300px;
        height: 300px;
    }

    footer {
        font-size: 10px;
    }
}