/* COLOR SCHEME
    #FCE9F1
    #F1D4E5
    #73BBC9
    #053A5F
    #080202
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Monomaniac One";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #73BBC9;
    border: 16px dotted #080202;
    margin: 8px;
}

main {
    margin: 20px 20px 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

/* header */
#header-title {
    text-align: center;
    margin-top: 20px;
    font-size: 60px;
    text-shadow: 4px 4px #FCE9F1;
}

/* customize section*/
#customize-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}

#colorpicker {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    margin: 0 auto 0 auto;
}

#colorpicker::-webkit-color-swatch {
    border-radius: 50%;;
}

#colorpicker::-moz-color-swatch {
    border-radius: 50%;;
}

#colorpicker::-ms-color-swatch {
    border-radius: 50%;;
}

#grid-size-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#grid-size-display {
    font-size: 24px;
    font-weight: 550;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 50px;
    font-family: "Monomaniac One";
    font-size: 24px;
    font-weight: bold;
    color: #080202;
    border: 3px solid #080202;
    background-color: #F1D4E5;
    padding: 10px;
}

.clicked-button {
    color: #F1D4E5;
    background-color: #080202;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    width: 140px;
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    background: #053A5F;
    height: 6px;
    border-radius: 4px;
}
  
/******** Firefox ********/
input[type="range"]::-moz-range-track {
    background: #053A5F;
    height: 6px;
    border-radius: 4px;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #080202;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: -7px; /* centers thumb on track */
}

/******** Firefox ********/
input[type="range"]::-moz-range-thumb {
    border: none; /* removes extra border that firefox applies by default */
    border-radius: 50%;
    background-color: #080202;
    height: 20px;
    width: 20px;
}

/* grid */
#grid-container {
    background-color: #FFFFFF;
    border: 4px solid #080202;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    box-shadow: 10px 10px 5px #053A5F;
}

#grid-container > div {
    box-sizing: border-box;
}

.grid-lines-bottom {
    border-bottom: 1px solid gray;
}

.grid-lines-right {
    border-right: 1px solid gray;
}

.grid-lines-bottom-right {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

/* footer */
#footer {
    font-size: 20px;
    margin-top: auto;
    text-align: center;
    margin-bottom: 8px;
}

@media (min-width: 501px) and (max-width: 750px) {
    main {
        gap: 50px;
    }
    #grid-container {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 500px) {
    body {
        border: 8px dotted #080202;
    }
    main {
        gap: 50px;
    }
    #header-title {
        font-size: 40px;
    }
    button, #grid-size-display {
        font-size: 20px;
    }
    #grid-container {
        width: 250px;
        height: 250px;
    }
    #footer {
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
    }
}